　

{% extends 'Base.html' %}

{% block title %}团队信息{% endblock %}
{% block head %}
      <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- Bootstrap Styles-->
<link  rel="shortcur icon" href="{{url_for('static',filename='home/img/ico/1.png')}}">
<link rel="shortcur icon" href="{{url_for('static',filename='home/img/ico/1.png')}}">
<link href="{{ url_for('static',filename='assets/css/bootstrap.css') }}" rel="stylesheet"/>
<!-- FontAwesome Styles-->
<link href="{{ url_for('static',filename='assets/css/font-awesome.css') }}" rel="stylesheet"/>
<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/form.css') }}">
<!-- Custom Styles-->
<link href="{{ url_for('static',filename='assets/css/custom-styles.css') }}" rel="stylesheet"/>
<!-- Google Fonts-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
<link href="{{ url_for('static',filename='assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

	
	<!--/. NAV TOP  -->


{% block bodyright %}{% endblock %}


{% endblock %}