{% extends 'Basic.html' %}

{% block title %}个人带队{% endblock %}
{% block bodyright %}
<nav class="navbar-default navbar-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav" id="main-menu">
			
			
			<li>
				<a href="{{ url_for('Profile') }}"><i class="fa fa-user "></i> 个人信息</a>
			</li>
			<li>
				<a href="{{ url_for('AllMessage',schoolid=teacher.school_teacher_id) }}"><i class="fa fa-table"></i>
					队伍信息总揽</a>
			
			</li>
			
			<li>
				<a href="{{ url_for('MyPage') }}" class="active-menu"><i class="fa fa-users"></i> 个人带队<span
						class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					{% for t in teams %}
					<li>
						<a href="{{ url_for('team',id=t.id) }}">{{ t.teamname }}</a>
					</li>
					{%endfor%}
				</ul>
		
		</ul>
	
	</div>
</nav>

<div id="page-wrapper">
	<div class="header">
		<h1 class="page-header">
			{{ teacher.teachername }}
			<small>共带领{{ teams|length }}支队伍</small>
		</h1>
		<ol class="breadcrumb">
			<li class="active" style="color: #1a97d7">在这里每位指导老师最多可以创建3支属于你的队伍</li>
			<li style="color: #cc0000">和解散过多的队伍</li>
		</ol>
	
	</div>
	
	<div id="page-inner">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading" style="color: #cc0000">
						当解散队伍时候成员也会移除，请谨慎操作
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-6">
								
								{% for message in get_flashed_messages() %}
								
								<div class="alert alert-danger">
									<button type="button" class="close" data-dismiss="alert">关闭&times;</button>
									
									<h4 style="color: #cc0000">{{ message }}</h4>
								
								
								</div>
								{% endfor %}
								<div class="control">
									<fieldset disabled="">
										<div class="form-group">
											<div class="label-page"><label>学校</label></div>
											<input class="form-control" value="{{ school.school }}">
										</div>
									</fieldset>
								</div>
								<fieldset disabled="disabled">
									<div class="control">
										<div class="label-page"><label>指导老师</label></div>
										<input class="form-control" value="{{ teacher.teachername }}">
									</div>
								</fieldset>
								{% if (teams|length) >= 3 %}
								<fieldset disabled="">
									<div class="control">
										<div class="label-page"><label>创建队伍</label></div>
										<input class="form-control" placeholder="最多创建3支队伍，或删除" name="createteam"
										       required>
										<button type="submit" class="btn btn-primary ">创建队伍</button>
									</div>
								</fieldset>
								{% else %}
								<form role="form" method="POST">
									<div class="control">
										<div class="label-page"><label>创建队伍</label></div>
										<input class="form-control" placeholder="请输入要创建队伍名" name="createteam"
										       pattern="[A-Za-z0-9\u4e00-\u9fa5]{2,10}" title="2-10位，不得出现特殊字符" required>
										<button type="submit" class="btn btn-primary ">创建队伍</button>
									</div>
								</form>
								
								<br>
								{% endif %}
								{% for i in range(teams|length) %}
								<form role="form" method="POST" action={{url_for('delteam')}}>
									
									<div class="control">
										<div class="label-page"><label>带领队伍---{{ i + 1 }}</label></div>
										<p type="hidden" class="form-control">{{teams[i].teamname}}</p>
										<input type="hidden" class="form-control" value={{teams[i].id}}
										       name="delteamid">
										<button type="submit" class="btn btn-danger " onclick="alert('解散队伍')">解散队伍
										</button>
									</div>
								</form>
								{% endfor %}
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

