
{% extends 'Basic.html' %}



{% block bodyright %}

        <div id="page-wrapper" >
		  <div class="header"> 
                        <h1 class="page-header">
                             {{ teacher.teachername }} <small>共带领{{ teams|length }}支队伍</small>
                        </h1>
						<ol class="breadcrumb">
					  <li><a href="{{ url_for('Index') }}">主页</a></li>
					  <li><a href="#">Forms</a></li>
					  <li class="active">Data</li>
					</ol> 
									
		</div>
		
            <div id="page-inner"> 
              <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
{#                        <div class="panel-heading">#}
{#                            信息#}
{#                        </div>#}
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
{#                                    <form role="form" >#}
	                                    <div class="control">
		                                    <fieldset disabled="">
			                                    <div class="form-group">
				                                    <div class="label-page"><label >学校</label></div>
				                                    <input class="form-control" value ="{{ school.school }}"  >
	                                            </div>
		                                    </fieldset>
	                                    </div>
                                    <fieldset disabled="disabled">
	                                    <div class="control" >
	                                        <div class="label-page"><label >指导老师</label></div>
                                                <input class="form-control" value ="{{ teacher.teachername }}"  >
	                                    </div>
                                    </fieldset>
									{% if (teams|length) >= 3 %}
										<fieldset disabled="">
		                                    <div class="control">
		                                        <div class="label-page"><label >创建队伍</label></div>
	                                                <input class="form-control" placeholder="最多创建3支队伍，或删除" name="createteam" required>
			                                    <button type="submit" class="btn btn-primary "  >创建队伍</button>
		                                    </div>
										</fieldset>
                                    {% else %}
		                                <form role="form" method="POST">
		                                    <div class="control">
		                                        <div class="label-page"><label >创建队伍</label></div>
	                                                <input class="form-control" placeholder="请输入要创建队伍名" name="createteam" required>
			                                    <button type="submit" class="btn btn-primary "  >创建队伍</button>
		                                    </div>
		                                </form>
										<br>
                                    {% endif %}
	                                    {% for i in range(teams|length) %}
		                                    <form role="form" method="POST" action='../../del/team/'>
			                                    
		                                        <div class="control">
		                                        <div class="label-page"><label >带领队伍---{{ i + 1 }}</label></div>
			                                        
	                                                <input class="form-control" value ={{teams[i].teamname}}  name="delteam">
			                                        <button type="submit" class="btn btn-danger " >解散队伍</button>
		                                        </div>
	                                        </form>
	                                    {% endfor %}
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

