
{% extends 'Basic.html' %}



{% block bodyright %}

        <div id="page-wrapper" >
		  <div class="header"> 
                        <h1 class="page-header">
                             {{ teacher.teachername }}____&队伍信息 <small>团队名字这个到时候显示团队名字</small>
                        </h1>
						<ol class="breadcrumb">
					  <li><a href="#">Home</a></li>
					  <li><a href="#">Forms</a></li>
					  <li class="active">Data</li>
					</ol> 
									
		</div>
		
            <div id="page-inner"> 
              <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            信息
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form">
	                                    <div class="control">
	                                        <div class="label-page"><label >负责人</label></div>
                                                <input class="form-control" value ="{{ teacher.teachername }}"  >
	                                    </div>

	                                    <div class="control">
		                                    <fieldset disabled="">
			                                    <div class="form-group">
				                                    <div class="label-page"><label >学校</label></div>
				                                    <input class="form-control" value ="{{ teacher.school }}"  >
	                                            </div>
		                                    </fieldset>
	                                    </div>
	                                    <div class="control">
	                                        <div class="label-page"><label >队伍一</label></div>
                                                <input class="form-control" value ="队伍名：成员：名字、名字、名字、名字"  >
		                                    <button type="submit" class="btn btn-danger ">解散队伍</button>
	                                    </div>
	                                    <div class="control">
	                                        <div class="label-page"><label >队伍二</label></div>
                                                <input class="form-control" value ="队伍名：成员：名字、名字、名字、名字）"  >
		                                    <button type="submit" class="btn btn-danger ">解散队伍</button>
	                                    </div>
	                                    <div class="control">
	                                        <div class="label-page"><label >队伍三</label></div>
                                                <input class="form-control" value ="队伍名：成员：名字、名字、名字、名字"  >
		                                    <button type="submit" class="btn btn-danger ">解散队伍</button>
	                                    </div>
                                    </form>
	                                <form>
	                                <button type="submit" class="btn btn-primary center-block">提交修改信息</button>

                            <!-- /.row (nested) -->
                                    </form>
                        </div>
                        <!-- /.panel-body -->
                    </div>
	                   
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            <!--</div>-->
			<!--<footer><p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p></footer>-->
			<!--</div>-->
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>



{% endblock %}

