{% extends 'Base.html' %}

{% block head %}

	<link rel="stylesheet" href="{{ url_for('static',filename='form/css/LoginBox.css') }}">
    <script  src="{{ url_for('static', filename='form/js/checkCode.js') }}"></script>

{% endblock %}

{% block title %}登录{% endblock %}

{% block body %}
    <div class="void"></div>
    <div class="LoginMain" >
        <h1 class="page-title">登录</h1>
        <form action="" onsubmit="return validate()" method="POST">
	        <div class="form-container">
                <div class="form-group">
                   <input type="text" class="form-control" placeholder="老师电话" name="teacherphone" required />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="密码" name="password" required />
                </div>
                <div class="form-group">
                    <input type="text" id="input" />
                    <input type="button" id="code" onclick="createCode()" />
                </div>
                <div class="form-group">
                   <button class="btn btn-primary btn-block"  >登录</button>
                </div>
                {% for message in get_flashed_messages() %}
                {{ message }}
                {% endfor %}
	        </div>>
        </form>
    </div>

{% endblock %}



