{% extends 'Base.html' %}
{% block head %}

	<link rel="stylesheet" href="{{ url_for('static',filename='form/css/LoginBox.css') }}">
    <script  src="{{ url_for('static', filename='form/js/checkCode.js') }}"></script>

{% endblock %}
{% block body %}
	    <div class="" >
    <div>
        <ul>
	        <br>	        <br>	        <br>	        <br>	        <br>	        <br>
	        <input type="text" value={{ teacher.teachername }} />
	        <input type="text" value={{ teacher.teacherphone }} />
	        <input type="text" value={{ teacher.password }} />
	        <input type="text" value={{ teacher.school }} />
	        <li><a href="{{ url_for('MyTeam') }}">我的队伍</a></li>
	    </ul>
    </div>
    <br>
	    </div>
    {% block team %}{% endblock %}
{% endblock %}