{% extends 'MyPage.html' %}

{% block team %}
    <ul>
        <hi><li>这是我的队伍</li></hi>
        {% for team in result %}
            <li>{{ team.school }}</li>
            <li>{{ team.teamname }}</li>
            <li>{{ team.teacher }}</li>
            <li>{{ team.teacherphone }}</li>
            <li>{{ team.member1 }}</li>
            <li>{{ team.member1phone }}</li>
            <li>{{ team.member2 }}</li>
            <li>{{ team.member2phone }}</li>
            <li>{{ team.member3 }}</li>
            <li>{{ team.member3phone }}</li>
            <li><a href="{{ url_for('ModifyTeam', teamname=team.teamname) }}">修改该队伍信息</a></li>
            <br>
        {% endfor %}
    </ul>
{% endblock %}