.BodyBackground{
    width: 100%;
    height: 100%;
    background-image:url(../img/banner3.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        overflow:hidden;
}

.main{
    margin-top: 100px;
    width:405px;
    margin-left: 550px;
}
.page-title{
    text-align: center;
    color: #00bddb;
    font-family:Georgia, serif;
    font-weight: 900
}
.page{
    color: #00bddb;
    font-size:20px
}
.form-group{
    width: 400px;
    margin: 3px;

    padding: 5px;
}
.form-control{
    margin-top: 3px;
}




